.contain {
  background-image: url("../../assets/shopbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
}

.card-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.row-center {
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
  align-items: center;
}
